colab/
__pycache__/

# Fichiers Python
*.py


# Fichiers de configuration avec clés API
config.py

# Environnement virtuel
.venv/
.env/

# Fichiers de données
*.jsonl
api_data.json

# Autres
.DS_Store

